<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295846406679-tcfjp4u434gcm6rghlbrebraevo19ohp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295846406679-tcfjp4u434gcm6rghlbrebraevo19ohp</string>
	<key>API_KEY</key>
	<string>AIzaSyC0ltlCH8sY0n5nQUlQRdXjETlNkBLuKy0</string>
	<key>GCM_SENDER_ID</key>
	<string>295846406679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CodingDojo.AlhanoufAlghayhab-TodoList-Firebase-FinalExam</string>
	<key>PROJECT_ID</key>
	<string>family-todolist</string>
	<key>STORAGE_BUCKET</key>
	<string>family-todolist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295846406679:ios:7265cb515159f171400a52</string>
</dict>
</plist>